<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
    .media:hover{
        background-color: #34cfeb;
        color: white;
    }
    </style>
</head>

<body>

    <div class="container mt-3">
      <div class="main">
        <h2>Great Grads </h2>  
        <div class="dropdown">
            <div class="d-flex justify-content-center">
              <div class="searchbar">
                <input (input)=onSearchChange($event.target.value) class="search_input" type="text" name="" placeholder="Search...">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
              </div>
            </div>
        </div>      
     </div>
        <table class="table table-hover ">
            <thead>
              <th [mdbTableSort]="questions[0]" sortBy="grad_id">Grad_Id  <mdb-icon fas icon="sort"></mdb-icon></th>
              <th [mdbTableSort]="questions[0]" sortBy="grad_name">Grad_Name  <mdb-icon fas icon="sort"></mdb-icon></th>
              <th [mdbTableSort]="questions[0]" sortBy="grad_college">College  <mdb-icon fas icon="sort"></mdb-icon></th>
              <th [mdbTableSort]="questions[0]" sortBy="grad_location">Location  <mdb-icon fas icon="sort"></mdb-icon></th>
              <th [mdbTableSort]="questions[0]" sortBy="grad_year">Year  <mdb-icon fas icon="sort"></mdb-icon></th>
              <th [mdbTableSort]="questions[0]" sortBy="total_marks">Total Marks  <mdb-icon fas icon="sort"></mdb-icon></th>

            </thead>
            <tbody>
              <tr style="cursor: pointer;" (click)=profile(grad.grad_id) *ngFor = "let grad of questions[0],let i=index">
                <td>{{grad.grad_id}}</td>
                <td style="cursor: pointer;" (click)=profile(grad.grad_id)>{{grad.grad_name}}</td>
                <td>{{grad.grad_college}}</td>
                <td>{{grad.grad_location}}</td>
                <td>{{grad.grad_year}}</td>
                <td>{{grad.total_marks}}</td>
                
              </tr>
            </tbody>
          </table>
    </div>

</body>

</html>