<style>
    input {
        border-collapse: collapse;
        width: 600px;
        height: 30px;
        padding-left: 10px;
        border-radius: 10px;
    }

    textarea {
        resize: none;
        width: 600px;
        height: 200px;
        border-radius: 6px;
    }

    form {
        padding: 25px;
        ;
    }

    .divmain {
        margin-top: 40px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: max-content;
        height: max-content;
        border: 1px solid;
        border-color: #a8acbc;
        border-radius: 3%;
        background-color: #70eaff;
    }

    ul {
        list-style-type: none;
    }

    li {
        border: 1 px solid black;
    }

    #buttonId {
        height: 30px;
        width: 100px;

    }

    label {
        color: cornflowerblue;
    }

    .submitbtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
</style>
<div>
    <div class="container-fluid , divmain ">
        <form [formGroup]="AskQuestionForm" (ngSubmit)="onSubmit()">
            <div *ngIf="status">
                <small class="text-danger">*please enter all the details</small>
            </div>
            <div class=form-group>
                <label>Question:</label>
                <input type="text"
                    [class.is-invalid]="AskQuestionForm.get('question').invalid && AskQuestionForm.get('question').touched"
                    formControlName="question" class="form-control" placeholder="e.g What is final keyword in java?">
                <small class="text-danger"
                    [class.d-none]="AskQuestionForm.get('question').valid || AskQuestionForm.get('question').untouched">Question
                    required</small>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="textarea" id="" cols="30" rows="10" formControlName="description" class="form-control"
                    [class.is-invalid]="AskQuestionForm.get('description').invalid && AskQuestionForm.get('description').touched"></textarea>
                <small class="text-danger"
                    [class.d-none]="AskQuestionForm.get('description').valid || AskQuestionForm.get('description').untouched">Description
                    required</small>
            </div>
            <div class="form-group">
                <label>Tags</label>
                <input type="text" [(ngModel)]="user" placeholder="Enter category of the question..."
                    formControlName='Tags' class="form-control"
                    [class.is-invalid]="AskQuestionForm.get('Tags').invalid && AskQuestionForm.get('Tags').touched">
                <small class="text-danger"
                       [class.d-none]="AskQuestionForm.get('Tags').valid || AskQuestionForm.get('Tags').untouched">Tags
                    required</small>
                <ul *ngIf="user">
                    <li *ngFor="let item of data | startsWiths : user" (click)="additem(item)">{{item}}</li>
                </ul>
            </div>
            <div class="submitbtn">
                <input type='submit' id='buttonId' style="border-radius: 5%;
            background-color: lavender;margin-top: 30px;">
            </div>

        </form>
    </div>
</div>