<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
    .media:hover{
        background-color: #34cfeb;
        color: white;
    }
    </style>
</head>

<body>


    <div class="container mt-3">
        <div class="main">
            <h2>Great {{categories[categoryid-1]}} Marks of Grads </h2>  
            <div class="dropdown">
                <div class="d-flex justify-content-center">
                  <div class="searchbar">
                    <input (input)=onSearchChange($event.target.value) class="search_input" type="text" name="" placeholder="Search...">
                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                  </div>
                </div>
            </div>      
         </div>
        <table class="table table-hover ">
            <thead>
              <tr>
                <th [mdbTableSort]="assessments[0]" sortBy="grad_id">Grad ID  <mdb-icon fas icon="sort"></mdb-icon></th>
                <th [mdbTableSort]="assessments[0]" sortBy="grad_name">Grad Name  <mdb-icon fas icon="sort"></mdb-icon></th>
                <th [mdbTableSort]="assessments[0]" sortBy="trainer_id">Trainer ID  <mdb-icon fas icon="sort"></mdb-icon></th>
                <th [mdbTableSort]="assessments[0]" sortBy="course">Course  <mdb-icon fas icon="sort"></mdb-icon></th> 
                <th [mdbTableSort]="assessments[0]" sortBy="test_name">Test Name  <mdb-icon fas icon="sort"></mdb-icon></th>
                <th [mdbTableSort]="assessments[0]" sortBy="build_marks" ><div *ngIf="categoryid==4">Build Marks  <mdb-icon fas icon="sort"></mdb-icon></div></th>
                <th [mdbTableSort]="assessments[0]" sortBy="process_marks"><div *ngIf="categoryid==4">Process Marks  <mdb-icon fas icon="sort"></mdb-icon></div></th>
                <th [mdbTableSort]="assessments[0]" sortBy="testing_marks"><div *ngIf="categoryid==4">Testing Marks  <mdb-icon fas icon="sort"></mdb-icon></div></th>
                <th [mdbTableSort]="assessments[0]" sortBy="final_marks">Total Marks  <mdb-icon fas icon="sort"></mdb-icon></th>
                <th >Trainer Feedback</th>
                <th> Assessment Type</th>
                <th colspan="2" text-align="center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let assessment of assessments[0],index as i">
                <td>{{assessment.grad_id}}</td>
                <td>{{assessment.grad_name}}</td>
                <td>{{assessment.trainer_id}}</td>
                <td>{{assessment.course}}</td>
                <td>{{assessment.test_name}}</td>
                <td><div *ngIf="categoryid==4">{{assessment.build_marks}}</div></td>
                <td><div *ngIf="categoryid==4">{{assessment.process_marks}}</div></td>
                <td><div *ngIf="categoryid==4">{{assessment.testing_marks}}</div></td>
                <td>{{assessment.final_marks}}</td>
                <td>{{assessment.trainer_feedback}}</td>
                <td>{{categories[categoryid-1]}}</td>
                <td> <div *ngIf="checkTrainer(assessment.trainer_id)"><button type="button" style="background-color: #230924 ;border-color: #230924;" class="btn btn-primary" data-toggle="modal" data-target="#edit" (click)=setValues(i)>EDIT</button></div></td>  
                <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <!--Content-->
  <div class="modal-content form-elegant">
    <!--Header-->
    <div class="modal-header text-center">
      <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Edit Assessment</strong></h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--Body-->
    <div class="modal-body mx-4">
      <!--Body-->
      <div class="md-form mb-5">
        <label>Grad_ID</label><br>
        <p>{{assessment.grad_id}}</p>
      </div> 

      <div class="md-form mb-5">                             
      <label for="cat">Assessment Category</label>
      <p>{{categories[categoryid-1]}}</p>
     </div>  

     <div class="md-form mb-5" *ngIf="categoryid==4">
        <label data-error="wrong" data-success="right" for="Form-email1" >Build Marks</label>
        <input type="number" id="Form-email1" class="form-control validate" [(ngModel)]="build_marks">
    </div>  
      <div class="md-form mb-5" *ngIf="categoryid==4">
        <label data-error="wrong" data-success="right" for="Form-email1" >Process Marks</label>
        <input type="number" id="Form-email1" class="form-control validate" [(ngModel)]="process_marks">
    </div>  
 
      <div class="md-form mb-5" *ngIf="categoryid==4" >
        <label data-error="wrong" data-success="right" for="Form-email1" >Testing Marks</label>
        <input type="number" id="Form-email1" class="form-control validate" [(ngModel)]="testing_marks">
    </div>  

      <div class="md-form mb-5" *ngIf="categoryid!=4">
        <label data-error="wrong" data-success="right" for="Form-email1" >Total Marks</label>
        <input type="number" id="Form-email1" class="form-control validate" [(ngModel)]="total_marks">
    </div>  
 
      <div class="md-form mb-5">
        <label data-error="wrong" data-success="right" for="Form-email1">Feedback</label>
        <input type="text" id="Form-email1" class="form-control validate" [(ngModel)]="feedback">
      </div>

      <div class="text-center mb-3">
        <p style="color: red;" [style.display]=wow>PLEASE ENTER BETWEEN 0 and 100</p>
        <button type="button" (click)="editassessment()" class="btn blue-gradient btn-block btn-rounded z-depth-1a" >Submit</button>
      </div>
    </div>
    <!--Footer-->
  </div>
  <!--/.Content-->
</div>
</div>
<!-- Modal -->
                       <!-- The Modal -->
             <!-- Modal -->
                <td> <div *ngIf="checkTrainer(assessment.trainer_id)" else elseblock><button type="button" style="background-color: #230924 ;border-color: #230924;" class="btn btn-primary" (click)=deleteAssessment(assessment.assessment_id,assessment.final_marks,assessment.grad_id)>DELETE</button></div><ng-template #elseBlock>Content to render when condition is false.</ng-template></td>  
            </tr>
            </tbody>
          </table>
        </div>
          
</body>

</html>