<html>
  <head>

  </head>
<body>
<div class="modal-header" >
    <h4 class="modal-title">Login</h4>
  </div>
  <div class="modal-body">
  <button   style=" color: white;background-color: #ea4335;" class="btn btn-lg btn-google btn-block text-uppercase" (click)='googlelogin()' type="submit"><i style="float:left" class='fab fa-google' style='font-size:36px'></i><span style="padding-left:20px">Sign in with Google</span></button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
  </body>
  </html>