<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
    .media:hover{
        background-color: #34cfeb;
        color: white;
    }
    </style>
</head>

<body>

    <div class="container mt-3">
      <div class="main">
        <h2>{{grad.grad_name}}</h2>
        <h5>{{grad.grad_location}} Percentile: {{assessments[0].locationpercentile}}</h5>     
     </div>
        <table class="table table-hover ">
            <thead>
              <tr>
                <th>Grad_ID</th>
                <th>Grad_Name</th>
                <th>Grad_College</th>
                <th>Grad_Location</th>
                <th>Grad_Year</th>
                <th>Overall Quiz Marks</th>
                <th>Overall MCQ Marks</th>
                <th>Overall Assignment Marks</th>
                <th>Overall Project Marks</th>
                <th>Overall Marks</th>
              </tr>
            </thead>
            <tbody>
             <tr>
                <td>{{grad.grad_id}}</td>
                <td >{{grad.grad_name}}</td>
                <td>{{grad.grad_college}}</td>
                <td>{{grad.grad_location}}</td>
                <td>{{grad.grad_year}}</td>
                <td>{{grad.quiz_marks}}</td>
                <td>{{grad.mcq_marks}}</td>
                <td>{{grad.assignment_marks}}</td>
                 <td>{{grad.project_marks}}</td>
                <td>{{grad.total_marks}}</td>
              </tr>
            </tbody>
          </table>
          <h2>Performance</h2>
          <table class="table table-hover ">
            <thead>
              <tr>
                <th>Test Name</th>
                <th>Course</th>
                <th>Test Type</th>
                <th>Marks Obtained</th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor = "let marks of tests">
                <td>{{marks.test_name}}</td>
                <td >{{marks.course}}</td>
                <td>{{categories[marks.assessment_type-1]}}</td>
                <td>{{marks.final_marks}}</td>
              </tr>
            </tbody>
          </table>
    </div>

</body>

</html>